:root {

  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-500: 2.5rem;
  --spg-600: 3rem;
  --spg-1000: 5rem;
  --spg-1200: 6rem;
  --spg-1500: 7.5rem;
  --spg-1600: 8rem;

  --text-1: 3rem;
  --text-2: 2rem;
  --text-3: 1.5rem;
  --text-4: 1.25rem;
  --text-5: 1rem;
  --text-6: 0.8125rem;  

  --clr-white: #FFF;
  --clr-black: #000;
  --clr-grey-600: #3D6666;
  --clr-grey-550: #547878;
  --clr-grey-500: #5E7A7D;
  --clr-grey-400: #7F9D9F;
  --clr-grey-300: #9EBBBD;
  --clr-grey-200: #C5E4E7;
  --clr-grey-50: #F3F9FA;

  --clr-green-900: #00474B;
  --clr-green-800: #085C61;
  --clr-green-750: #0D686D;
  --clr-green-400: #26C2AE;
  --clr-green-200: #9FE8DF;

  --clr-orange-400: #E17052;

  --border-radius-sm: 0.3125rem;
  --border-radius-lg: 0.9376rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  min-height: 100svh;
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background: var(--clr-grey-200);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: var(--clr-white);
  padding: var(--spg-400) var(--spg-300);
  min-width: 17.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--spg-300);
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

header {
  margin-inline: auto;
  margin-top: var(--spg-600);
}

form {
  padding-inline: var(--spg-100);
}

form > *+* {
  margin-block-start: var(--block-start-spg, var(--spg-400));
}

input[type="number"] {
  text-align: right;
  font-size: var(--text-3);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--clr-green-900);
  line-height: 1.5;
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--clr-grey-50);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.form-group input[type="number"] {
  padding: var(--spg-100) var(--spg-200);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position-x: var(--spg-200);
  background-position-y: 50%;
}

.form-group input[type="number"]::placeholder {
  color: var(--clr-green-900);
  opacity: 0.35;
}

#bill {
  --bg-img: url('./images/icon-dollar.svg')
}

#people {
  --bg-img: url('./images/icon-person.svg');
}

input:focus-visible {
  outline: 2px solid var(--clr-green-400);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spg-100);
}

.radio-groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spg-200);
  --block-start-spg: var(--spg-100);
}

input[type="radio"] {
  appearance: none;
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--clr-green-400);
  color: var(--clr-green-900);
}

input[type="radio"] + label {
  background: var(--bg-clr, var(--clr-green-900));
  color: var(--txt-clr, var(--clr-white));
  font-size: var(--text-3);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  display: inherit;
  border-radius: var(--border-radius-sm);
  padding-block: var(--spg-100);
}

.radio-group input[type="number"] {
  width: 100%;
  padding-block: var(--spg-100);
}

.radio-group input[type="number"]::placeholder {
  text-align: center;
  color: var(--clr-grey-550);
}

.people-label {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.error-input {
  outline: 2px solid var(--clr-orange-400);
}

#error-text {
  color: var(--clr-orange-400);
  visibility: hidden;
}

.calculation {
  display: flex;
  flex-direction: column;
  padding: var(--spg-300);
  border-radius: 0.9375rem;
  background: var(--clr-green-900);
}

.calculation > *+* {
  margin-block-start: var(--block-start-spg, var(--spg-300));
}

.amount-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-display p {
  display: flex;
  flex-direction: column;
}

.amount-label span {
  font-size: var(--font-sz);
  color: var(--font-clr);
  font-weight: 700;
  line-height: 1.5;
}

.amount-label span:first-child {
  --font-sz: var(--text-5);
  --font-clr: var(--clr-white);
}

.amount-label span:last-child {
  --font-sz: var(--text-6);
  --font-clr: var(--clr-grey-400);
}

button {
  text-transform: uppercase;
  color: var(--clr-green-900);
  background: var(--clr-green-400);
  border: none;
  padding-block: var(--spg-200);
  font-weight: 700;
  line-height: 1.5;
  font-size: var(--text-3);
  border-radius: var(--border-radius-sm);
  --block-start-spg: var(--spg-400);
}

.amount {
  color: var(--clr-green-400);
  font-size: var(--text-2);
  font-weight: 700;
}



@media (width >= 40rem) {

  body {
    display: grid;
    place-content: center;
  }

  header {
    margin-block: 0 var(--spg-600);
  }

  main {
    max-width: 38rem;
    margin-inline: auto;
    padding: var(--spg-600) var(--spg-1000);
    border-radius: var(--border-radius-lg);
    gap: var(--spg-600);
  }

  .radio-groups {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spg-200 );
  }

  form > *+* {
    margin-block-start: var(--block-start-spg, var(--spg-300));
  }

  .amount {
    font-size: var(--text-1);
  }

  button {
    padding-block: var(--spg-100);
  }
}

@media (width >= 60rem) {

  main {
    max-width: 57.5rem;
    padding: var(--spg-400);
    flex-direction: row;
    border-radius: 1.5625rem;
  }

  form,
  .calculation {
    flex: 1;
  }

  form {
    --block-start-spg: var(--spg-500);
    padding-block: var(--spg-200);
  }

  .calculation {
    padding: var(--spg-500) var(--spg-400);
  }

  button {
    --block-start-spg: auto;
  }
}